.collection-wrapper {
	display: flex;
	gap: 68px;
	margin-bottom: 120px;
	margin-top: 120px;
	position: relative;
  
}

.card-wrapper {
  width: 100%;
	grid-gap: 15px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.collection-cards {
	.load-more-button {
		margin: 40px auto 0 auto;
	}
}
