@import 'scss/mixins.scss';

header {
	background-color: #1a1a1a;
	padding: 20px;
	position: relative;
	z-index: var(--zi-header);
	font-family: var(--ff-unison-light);

	.container.extended {
		max-width: 90%;
	}
	.header-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

nav {
	transition: all 0.4s ease-in-out;

	ul {
		display: flex;
		gap: 30px;
		@include reset-list;
	}
	.link {
		position: relative;
		text-align: left;
		font-weight: var(--ff-unison-bold);
		letter-spacing: 0px;
		opacity: 1;
		@media (max-width: 1330px) {
			font-size: var(--fs-10);
		}

		&:hover,
		&:focus {
			color: var(--pink);
		}
	}
}

.select-wrapper {
	display: flex;
	gap: 10px;
}

.dd-wrapper {
	position: relative;
	svg {
		fill: white;
		margin-left: 10px;
	}
}

.dd-menu {
	position: absolute;
	left: 0;
	// top: calc(100% + 4px);
	background-color: var(--pink);

	border: 1px solid transparent;
	border-radius: var(--b-rad-5);
	padding: 0px;
	width: 170px;
	list-style: none;
	margin-top: 10px;
	&:hover {
		border: 1px solid #bb1e54;
	}
	li {
		text-align: center;
		position: relative;
		font-family: var(--ff-ocra);
		font-size: var(--fs-14);
		a {
			display: block;
			padding-top: 12px;
			padding-bottom: 12px;
		}
	}
	li:hover {
		background-color: #bb1e54;
	}
	li:first-child::after {
		content: '';
		position: absolute;
		left: 12px;
		bottom: 0;
		height: 15px;
		width: 80%;
		border-bottom: 1px solid rgb(255, 109, 156);
	}
}
