@import 'scss/mixins.scss';

header {
	background-color: #1a1a1a;
	padding: 20px;
	position: relative;
	z-index: var(--zi-header);
	font-family: var(--ff-unison-light);

	.container.extended {
		max-width: 90%;
	}
	.header-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

nav {
	transition: all 0.4s ease-in-out;

	ul {
		display: flex;
		gap: 30px;
		@include reset-list;
	}
	.link {
		position: relative;
		text-align: left;
		font-weight: var(--ff-unison-bold);
		letter-spacing: 0px;
		opacity: 1;
		@media (max-width: 1330px) {
			font-size: var(--fs-10);
		}

		&:hover,
		&:focus {
			color: var(--pink);
		}
	}
}

.select-wrapper {
	display: flex;
	gap: 10px;
}

