@import 'scss/mixins.scss';
footer {
	background-color: #1a1a1a;
	padding: 20px;
	font-family: var(--ff-unison-light);

	.footer-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		nav {
			ul {
				display: flex;
				gap: 30px;
				@include reset-list;
				li {
					a {
						font-size: var(--fs-12);
					}
				}
			}
		}
	}
}
